@import url('reset.css');

html {
  background-image: url(/images/calback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: ivory;
  text-shadow: 2px 2px 2px black;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: ivory;
  margin: 15px 0;
  text-align: center;
}

#calendar-wrap {
  width: 100%;
}

#calendar-wrap a {
  color: pink;
}

#calendar-wrap ul {
  clear: both;
  width: 100%;
}

#calendar-wrap li {
  display: block;
  float: left;
  width: 10%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar .weekdays {
  height: 40px;
  background: grey;
  width: 100%;
}

#calendar .weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 15px;
}

#calendar .days li {
  height: 100px;
}

#calendar .days li:hover {
  background: #9a9a9a;
}

.days .red-letter a:visited {
  text-decoration: none;
}

#calendar .date {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  /* color: #fff */
}

.red-letter {
  color: red;
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background:rgb(196, 30, 30);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: ivory;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

@media (max-width: 768px) {
  #calendar .weekdays {
    display: none;
  }
  #calendar li {
    height: auto !important;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }
  #calendar .date {
   display: flex;
  }
  #calendar .days .other-month {
    display: none;
  }
  #calendar .days .red-letter a:visited {
    text-decoration: none;
  }
}