@import url(/css/reset.css);

html {
  background-image: url(/images/stoneback.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  width: 95%;
  color: ivory;
  margin: 0 auto;
  padding: 5px;
}

.event {
  display: flex;
  flex-direction: column;
}

#quote {
  font-family: Oswald, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  padding: 5px;
  background: blanchedalmond;
  color: darkgray;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-family: Oswald, Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(196, 30, 30);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin: 10px 0 20px 0;
}
.container {
  display: flex;
  flex-direction: column;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px black;
  line-height: 1.7rem;
  margin-bottom: 13px;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background:rgb(196, 30, 30);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: ivory;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}