@import url(/css/reset.css);

html {
  background-image: url(/images/tateback.jpg);
}

body {
  width: 95%;
  color: ivory;
  margin: 0 auto;
  padding: 5px;
}

.event {
  display: flex;
  flex-direction: column;
}

.quote {
  background: blanchedalmond;
  color: darkgray;
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(196, 30, 30);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: lightgray;
  margin-bottom: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px black;
  line-height: 1.7rem;
  margin-bottom: 13px;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background:rgb(196, 30, 30);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

.ft-note {
  font-size: 1rem;
  font-style: italic;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: ivory;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}